.commentInfo *{
  background-color: transparent;
}
.commentContainer {
  width: 500px;
  height: 475px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 150px;
  top: 50px;
}
.commentContainer * {
  background-color: white;
}
.userCommentContainer {
  position: relative;
}
.formComment {
  position: absolute;
  top: 400px;
  padding: 20px;

}

.hide {
  display: none;
}
.comment {
  position: absolute;
  bottom: 40px;
  right: 75px;
  color: white;
  font-size: 25px;

}
