.commentInfo *{
  background-color: transparent;
}
.commentContainer {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 200px;
  top: 100px;
}
.commentContainer * {
  background-color: white;
}
.userCommentContainer {
  position: relative;
}
.formComment {
  position: absolute;
  top: 370px;
  padding: 15px;

}

.hide {
  display: none;
}
.comment {
  position: absolute;
  bottom: 40px;
  right: 75px;
  color: white;
  font-size: 25px;

}
