.albumForm {
  width: 500px;
  height: 450px;
  background-color: white;
  padding: 15px;
}
.albumForm * {
  background-color: white;
}
.addAlbum {
  font-size: 100px;
}

.container {
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}
.picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.pictureContainer {
  position: relative;
}
.hidden {
  display: none;
}
.selected {
  color: white;
  font-size: 45px;
  position: absolute;
  bottom: 50px;
  left: 50px;

}
.radioBtn {
  display: inline-block;
  margin: 0px
}
.radioBtn * {
  margin: 0px;
  width: 20px;
}
