.container {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container * {
  background-color: transparent;
}
.banner {
  width: 100%;
  height: 200px;
  opacity: 0.90;
  object-fit: cover;
  object-position: top;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#name {
  font-size: 30px;
  font-weight: 700px;
  position: absolute;
  bottom: -5px;
  left: 140px;
  color: white;
}
#joined {
  font-size: 20px;
  font-weight: 700px;
  position: absolute;
  bottom: -5px;
  right: 30px;
  color: white;
}
.picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.album {
  position: relative;
}
.edit {
  position: absolute;
  top: 20px;
  color: white;
  font-size: 25px;
  right: 40px;

}
.text {
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 20px;
  right: 40px;
}
.hide {
  display: none;
}
