div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
