.navBar{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 75px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #063852;
}
.navBar * {
  background-color: #063852;
}

.rightNav {
  display: flex;
  padding-right: 30px;
  align-items: center;
  box-sizing: border-box;
}

.login {
  padding: 0px 10px 0px 10px
}
.leftNav {
  display: flex;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 549;
}
.profileDropdown {
  position: absolute;
  top: 10%;
  width: 13%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-bottom: 15px;
  z-index: 10;
}
.profileDropdown * {
  color: #f0f0f0;
  font-size: 18px;
  padding: 2px;
}
.uploadBtn {
  color: #f0f0f0;
  cursor: pointer;
}
.logoutBtn {
  font-size: 25px;
  border: none;
  cursor: pointer;
}
#myProfile  {
  color: #f0f0f0;
}

.spacing {
  padding-left: 20px;
  font-size: 25px;
  box-sizing: border-box;
}
