.navBar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar a {
  text-decoration: none;
}
.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
